<main>
    <div ui-view="left" class="left">
        <ul class="left_ul list-group">
            <li class="list-group-item item1"><span class="glyphicon glyphicon-th-list"></span>&#x3000;全部教程</li>
            <li class="list-group-item list-group-item-success"><a href=""></a>初一
                <!--<span class="badge">14</span></li>-->
            <li class="list-group-item">初二</li>
            <li class="list-group-item list-group-item-success">初三</li>
            <li class="list-group-item">高一</li>
            <li class="list-group-item list-group-item-success">高二</li>
            <li class="list-group-item">高三</li>
        </ul>
    </div>
    <div ui-view="right" class="right">
        <div class="one_article">
            <p class="article_title"><b>毛泽东未了的黄河情结</b></p>
            <p class="article_content">这个泳者不是别人，他正是一代匡世伟人毛泽东。<br/>“我要去黄河，你们作些准备。”毛泽东一回到“浴场一号”住所，便激奋地说道。“去黄河？主席，你去黄河干什么？”毛泽东简单明了的吩咐中往往蕴涵着深邃含义，对此身边工作人员已很习惯，但面对这个似乎是刚从大海里“捞”出来的斩钉截铁的决定，他们仍感到十分突然。
                　　“人说不到黄河心不死，我是到了黄河也不死心呐！”<br/>稍顷，毛泽东扳着指头接着又说，“这次我要带一个智囊团去。包括天文、地理、历史、气象、土壤、化学、地质、肥料、水利、电力等等一大批专家，要像李四光这一级的专家。你们给我准备一些应付艰苦生活的东西。我们大家都骑马，沿黄河逆流而上，去寻找黄河的源头，把这条河从头了解起，让它能更好地为我们的民族造福。我还可以到黄河里去游泳啊！”
                　　说完，毛泽东便不再言语了，仿佛这条母亲河正在他胸中奔腾流淌。</p>
        </div>
    </div>
</main>