
<div ui-view="header" class="row myheader">
    <div class="col-lg-offset-1 col-lg-1 col-md-4 col-xs-6"><p><a href="/index">全部</a></p></div>
    <div ui-sref="chinese" class="col-lg-1 col-md-4 col-xs-6"><p><a href="/index/chinese/zz">语文</a></p></div>
    <div ui-sref="math" class="col-lg-1 col-md-4 col-xs-6"><p><a href="/index/math/zz">数学</a></p></div>
    <div ui-sref="english" class="col-lg-1 col-md-4 col-xs-6"><p><a href="/index/english/zz">英语</a></p></div>
    <div ui-sref="physics" class="col-lg-1 col-md-4 col-xs-6"><p>物理</p></div>
    <div ui-sref="chemistry" class="col-lg-1 col-md-4 col-xs-6"><p>化学</p></div>
    <div ui-sref="biology" class="col-lg-1 col-md-3 col-xs-6"><p>生物</p></div>
    <div ui-sref="geography" class="col-lg-1 col-md-3 col-xs-6"><p>地理</p></div>
    <div ui-sref="politics" class="col-lg-1 col-md-3 col-xs-6"><p>政治</p></div>
    <div ui-sref="history" class="col-lg-1 col-md-3 col-xs-6"><p>历史</p></div>
</div>

