<article>
    <div class="question">
        <div class="req_content">
            <div class="req_sign">
                <span class="sp_1">高一</span>
                <span class="sp_2">数学</span>
            </div>
            <h4 class="req_title">
                <b>如何看待过敬明因右眼视力不佳导致爵迹停更</b>
            </h4>
            <div class="req_content">
                有一次，女医生巴扎诺娃到莫斯科出差，她来探望保尔，两个人谈了很长时间。保尔满怀激情，告诉她自己要走一条怎样的道路，说不久的将来，他就能重新回到革命队伍中了。
                　　巴扎诺娃发现保尔两鬓已经有了白发，不由低声说：“我看得出，您经受了不少磨难。但您依然没有丧失对生活的信心，有什么比这更可贵的呢？您准备了五年，现在决定动身了，这很好。不过，您怎么写字？”
                　　保尔浅浅一笑，让她放心：“明天会给我送来一块挖出几条长格子的硬纸板，没有这东西我写不了字。我琢磨了好久，才想出这个办法，在硬纸板上挖出一条长格子，这样写字的时候就不会出格了，我试过了，结果相当不错。”
                　　保尔着手写作了，他打算写一部描述英雄的中篇小说。书名是：《暴风雨中诞生》。


                ——《钢铁是怎样炼成的》
            </div>
            <div class="req_message">
                <a class="req_a1" href=""><span class="glyphicon glyphicon-pencil"></span><span class="req_commit">&nbsp;2<span class="req_num">&nbsp;条评论</span></span></a>
                <a class="req_a2" href=""><span class="glyphicon glyphicon-share-alt"></span><span class="req_share">&nbsp;分享</span></a>
                <a class="req_a3" href=""><span class="glyphicon glyphicon-user"></span><span class="req_author">&nbsp;左秋C</span></a>
            </div>
            <!--<div class="res_num">-->
            <!--总共<span class="response_num">20</span><span>个回答</span>-->
            <!--</div>-->
            <div class="response">
                <div class="clickUp">▲<br/><p class="click_num">12</p></div>
                <div class="clickDown">▼</div>
                <div class="res_content">
                    <div class="res_author"><span><span class="res_name"><b>东方未明</b></span>&nbsp;，&#x3000;<span class="res_sign">日曦人清~</span></span><img
                                class="res_img" src="images/0.jpg" alt=""/></div>
                    <div class="res_answer">快用珍视明滴眼液呀！</div>
                    <div class="req_message">
                        <a class="req_a0" href="">发布于<span class="res_time">12:03</span></a>
                        <a class="req_a1" href=""><span class="glyphicon glyphicon-pencil"></span><span class="req_commit">&nbsp;2<span class="req_num">&nbsp;条评论</span></span></a>
                        <a class="req_a3" href=""><span class="glyphicon glyphicon-heart"></span><span class="req_thank">&nbsp;感谢</span></a>
                        <a class="req_a2" href=""><span class="glyphicon glyphicon-share-alt"></span><span class="req_share">&nbsp;分享</span></a>
                    </div>
                </div>
            </div>
            <div class="response">
                <div class="clickUp">▲<br/><p class="click_num">&nbsp;0</p></div>
                <div class="clickDown">▼</div>
                <div class="res_content">
                    <div class="res_author"><span><span class="res_name"><b>东方未明</b></span>&nbsp;，&#x3000;<span class="res_sign">日曦人清~</span></span><img
                                class="res_img" src="images/0.jpg" alt=""/></div>
                    <div class="res_answer">快用珍视明滴眼液呀！</div>
                    <div class="req_message">
                        <a class="req_a0" href="">发布于<span class="res_time">12:03</span></a>
                        <a class="req_a1" href=""><span class="glyphicon glyphicon-pencil"></span><span class="req_commit">&nbsp;2<span class="req_num">&nbsp;条评论</span></span></a>
                        <a class="req_a3" href=""><span class="glyphicon glyphicon-heart"></span><span class="req_thank">&nbsp;感谢</span></a>
                        <a class="req_a2" href=""><span class="glyphicon glyphicon-share-alt"></span><span class="req_share">&nbsp;分享</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide_num">
                <button>关注问题</button><span class="res_slide_num">&nbsp;4563</span><span>&#x3000;人关注问题</span>
            </div>
        </div>
    </div>
</article>
